@font-face{
	font-family: Harlow-Solid-Italic; 
	src:url("../font/harlowsoliditalic.ttf");
}

@font-face{
	font-family: Roboto-Regular;
	src:url("../font/Roboto-Regular.ttf");
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

html,body{
	scroll-behavior: smooth;
	transition: 0.5s forwards;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar{
	display: none;
}

.inner{
	width: 1100px;
	margin: 0 auto;
}

/*---------------------COMMON SEC------------------------*/
a,p,h2,h3,h5,h6,button,.title,span{
	font-family: Roboto-Regular;
}




/*-------------------HEADER SEC----------------------------*/
.header{
	background-color: #333646;
	width: 100%;
	height: 70px;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	padding: 0 7%;
	z-index: 99999;
}

.header > a{
	color: #fff;
	font-family: Harlow-Solid-Italic; 
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
	position: relative;
	display: none;

}

.header i.header_toggle{
	font-size: 28px;
	color: #fff;
	margin-left: auto;
	display: none;
}

.header .nav{
	height: 100%;
}

.header .nav .nav_content{
	display: flex;
	height: 100%;
	align-items: center;
}

.header .nav .nav_content .nav_profile{
	display: flex;
	align-items: center;
}

.header .nav .nav_content .nav_profile .nav_img{
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
	box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.3);
}

.header .nav .nav_content .nav_profile .nav_img img{
	width: 70px;
	filter: drop-shadow(8px 8px 10px rgb(37, 37, 37));
}

.header .nav .nav_content .nav_profile .nav_name{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header .nav .nav_content .nav_profile .nav_name .name_list{
	display: block;
	color: #fff;
	font-family: Harlow-Solid-Italic; 
	font-size: 18px;
	text-decoration: none;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.header .nav .nav_content .nav_menu{
	margin-left: auto;
	height: 100%;
	margin-right: 20px;
}

.header .nav .nav_content .nav_menu .nav_list{
	display: flex;
	height: 100%;
	align-items: center;
}

.header .nav .nav_content .nav_menu .nav_list .nav_item{
	margin: 0 15px;
}

.header .nav .nav_content .nav_menu .nav_list .nav_item a{
	position: relative;
	font-size: 14px;
	font-family: Roboto-Regular;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.8);
}

.header .nav .nav_content .nav_menu .nav_list .nav_item a::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 1px;
	width: 100%;
	background-color: #c46f00;
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	     -o-transform: scaleX(0);
	        transform: scaleX(0);
	transform-origin: right;
	transition: -webkit-transform .2s linear;
	transition:    -moz-transform .2s linear;
	transition:     -ms-transform .2s linear;
	transition:      -o-transform .2s linear;
	transition: 		transform .2s linear;
}

.header .nav .nav_content .nav_menu .nav_list .nav_item a:hover::before{
	-webkit-transform: scaleX(1);
	   -moz-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	     -o-transform: scaleX(1);
	        transform: scaleX(1);
	transform-origin: left;
}

.nav_link{
	color: #fff;
}

.active{
	color: #c46f00;
}



/*-------------------MV SEC----------------------------*/
.mv_sec{
	background-color: #333646;
	width: 100%;
	height: 100vh;
	position: relative;
}

.mv_sec .my_name{
	position: absolute;
	top: 20%;
	margin: 0 7%;
}

.mv_sec .my_name h1,
.mv_sec .my_name h1 span{
	font-family: Harlow-Solid-Italic; 
	color: #fff;
	font-size: 60px;
	font-weight: normal;
	line-height: 1.3;
	text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.7);
	margin-bottom: 30px;
}

.typing{
	position: relative;
	margin-left: 10px;

}

.typing::after{
	content: "";
	position: absolute;
	top: 25px;
	right: -10px;
	width: 2px;
	height: 38px;
	border-right: 2px solid #fff;
	animation: blank 0.5s infinite ease;
}

@keyframes blank{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.mv_sec .my_name p{
	color: #fff;
	font-size: 18px;
	max-width: 560px;
	line-height: 1.5;
	margin-bottom: 40px;
	word-break: break-all;
}

.mv_sec .my_name .social{
	margin-bottom: 30px;
}

.mv_sec .my_name .social a:hover{
	opacity: 0.5;
}

.mv_sec .my_name .social a i{
	color: #fff;
	font-size: 17px;
	margin-right: 20px;
	font-weight: normal;
	text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.6);
}

.mv_sec .my_name .btn{
	background: none;
	border: 2px solid #c46f00;
	color: #c46f00;
	font-size: 16px;
	padding: 12px 20px;
	cursor: pointer;
	min-width: 180px;
	transition: color 0.5s ease-in-out;
	position: relative;
	overflow: hidden;
	z-index: 0;
	outline: none;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mv_sec .my_name .btn::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	z-index: -1;
	background: #c46f00;
	transition: transform 1.3s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5,1.6,0.3,0.7);
}

.mv_sec .my_name .btn1::before{
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	     -o-transform: scaleX(0);
	        transform: scaleX(0);
}

.mv_sec .my_name .btn1:hover::before{
	-webkit-transform: scaleX(1);
	   -moz-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	     -o-transform: scaleX(1);
	        transform: scaleX(1);
}

.mv_sec .my_name .btn i{
	font-weight: lighter;
	color: #c46f00;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.mv_sec .my_name .btn:hover,
.mv_sec .my_name .btn:hover > i{
	color: #fff;
}

.mv_sec .profile{
	border: 1px solid #fff;
	top: 40%;
	left: 58%;
	width: 450px;
	height: 270px;
	position: relative;
}

.mv_sec .profile .image{
	content: url('../img/kmt.png');
	position: absolute;
	filter: drop-shadow(0 0 0.5rem #111);
	bottom: 0px;
	left: 3px;
	margin: auto;
	width: 100%;
}



/*-------------------ABOUT SEC----------------------------*/
.about_sec{
	width: 100%;
	padding: 70px 0;
}

.about_sec p.title{
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	position: relative;
	margin-bottom: 50px;
}

.about_sec p.title::before{
	content: "";
	position: absolute;
	width: 40px;
	height: 2px;
	top: 0;
	left: 0;
	right: 0;
	bottom: -45px;
	margin: auto;
	background-color: #c46f00;
}

.about_sec .my_self{
	display: flex;
	padding: 30px 0;
	justify-content: space-between;
}

.about_sec .my_self .image{
	width: 40%;
	height: 460px;
	margin-right: 9%;
    background-color: green;
	border-radius: 25% 0;
	overflow: hidden;
}

.about_sec .my_self .image img{
	display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_sec .my_self .content{
	width: 60%;
	padding: 60px 30px;
}

.about_sec .my_self .content > p.title{
	font-size: 30px;
	text-align: left;
	font-weight: 600;
}

.about_sec .my_self .content > p.title::before{
	display: none;
}

.about_sec .my_self .content p:nth-child(2){
	word-break: break-all;
	margin-bottom: 80px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}

.about_sec .my_self .content .progress_box{
	padding: 20px 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 60px 60px;
	grid-gap: 5px;
}

.about_sec .my_self .content .progress_box .pg_bar{
	margin: auto 0;
}

.about_sec .my_self .content .progress_box .pg_bar:nth-child(1), 
.about_sec .my_self .content .progress_box .pg_bar:nth-child(3){
	margin-right: 30px;
}

.about_sec .my_self .content .progress_box .pg_bar .info span{
	font-size: 14px;
	color: #c46f00;
	opacity: 0;
	animation: showText 0.5s 1s linear forwards;
}

@keyframes showText{
	100%{
		opacity: 1;
	}
}


.about_sec .my_self .content .progress_box .pg_bar .progress_line{
	width: 100%;
	height: 8px;
	position: relative;
	background-color: #e1e0e7;
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	     -o-transform: scaleX(0);
	        transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}


@keyframes animate{
	100%{
		-webkit-transform: scaleX(1);
		   -moz-transform: scaleX(1);
		    -ms-transform: scaleX(1);
		     -o-transform: scaleX(1);
		        transform: scaleX(1);
	}
}

.about_sec .my_self .content .progress_box .pg_bar .progress_line span{
	height: 100%;
	position: absolute;
	background-color: #c46f00;
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	     -o-transform: scaleX(0);
	        transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.about_sec .my_self .content .progress_box .pg_bar .progress_line.design span{
	width: 80%;
}

.about_sec .my_self .content .progress_box .pg_bar .progress_line.development span{
	width: 70%;
}

.about_sec .my_self .content .progress_box .pg_bar .progress_line.photoshop span{
	width: 80%;
}

.about_sec .my_self .content .progress_box .pg_bar .progress_line.web-design span{
	width: 30%;
}


/*-------------------SKILL SEC----------------------------*/
.skill_sec{
	border: 2px solid #e0e0e0;
	border-right: none;
	border-left: none;
	padding: 50px 0;
}

.skill_sec p.title{
	font-family: Roboto-Regular;
	text-align: center;
	font-size: 30px;
	color: #000;
	margin-bottom: 50px;
	font-weight: normal;
	position: relative;
}

.skill_sec p.title::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 40px;
	height: 2px;
	background-color: #c46f00;
	bottom: -40px;
	margin: auto;
}

.skill_sec .scroll_wrapper{
	margin: 0 7%;
	display: flex;
}

.skill_sec .scroll_wrapper .skill_item{
	background-color: #e1e0e7;
	padding: 30px 30px;
	border-radius: 100px 0px;
	background-color: #fff;
	box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.3);
	margin: 0 15px;
	flex: 1;
}

.skill_sec .scroll_wrapper .skill_item img{
	width: auto;
	height: 30px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.skill_sec .scroll_wrapper .skill_item > p:nth-child(2){
	text-align: center;
	color: #000;
	font-size: 23px;
	font-family: Roboto-Regular;
	margin-bottom: 25px;
}

.skill_sec .scroll_wrapper .skill_item > p:nth-child(3){
	font-size: 15px;
	font-family: Roboto-Regular;
	color: #000;
	word-break: break-all;
	margin-bottom: 20px;
	font-weight: normal;
	text-indent: 0.5in;
	line-height: 1.5;
}

.skill_sec .scroll_wrapper .skill_item ul{
	list-style: none;
}

.skill_sec .scroll_wrapper .skill_item ul li{
	line-height: 1.5;
	font-family: Roboto-Regular;
	font-size: 13px;
	color: #000;
}

.skill_sec .scroll_wrapper .skill_item ul li:first-child{
	color: #c46f00;
	font-size: 17px;
	margin-bottom: 5px;
}

 .skill_sec .scroll_wrapper .skill_item:nth-child(2) > .dev_info{
	display: flex;
	flex-flow: row;
}

.skill_sec .scroll_wrapper .skill_item:nth-child(2) > .dev_info ul{
	flex: 1;
} 




/*-------------------EDUCATION SEC----------------------------*/
.education_sec{
	padding: 60px 0;
	width: 100%;
}

.education_sec p.title{
	text-align: center;
	font-size: 30px;
	color: #000;
	font-family: Roboto-Regular;
	font-weight: normal;
	margin-bottom: 80px;
	position: relative;
}

.education_sec p.title::before{
	content: ' ';
	position: absolute;
	width: 100px;
	height: 2px;
	top: 0;
	left: 0;
	right: 0;
	bottom: -40px;
	margin: auto;
	background-color: #c46f00;
}

.education_sec .time_line{
	position: relative;
}

.education_sec .time_line::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 91%;
	top: -25px;
	left: 50%;
	background-color: #c46f00;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.education_sec .time_line .list{
	width: 100%;
	margin-bottom: 40px;
}

.education_sec .time_line .list::after {
	content: "";
	display: block;
	clear: both;
}

.education_sec .time_line .list .time_line_img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #333646;
	position: absolute;
	left: 50%;
	margin-top: 15px;
	margin-left: -15px;
}

.education_sec .time_line .list .time_line_img i{
	color: #c46f00;
	font-size: 15px;
	display: block;
	padding: 7.5px 0;
	text-align: center;
	/* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
	text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
}


.education_sec .time_line .list .time_line_img i:hover{
	color: #fff;
}

.education_sec .time_line .list .content{
	position: relative;
	width: 42%;
	padding: 30px 20px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 20px 20px 7px -16px rgba(0, 0, 0, 0.3);
}

.education_sec .time_line .list .content::after{
	content: "";
	position: absolute;
	width: 80px;
	height: 2px;
	background-color: #c46f00;
	top: 30px;
	right: -50px;
	z-index: -1;
}


.education_sec .time_line .list:nth-child(even) .content{
	float: right;
	padding: 30px 20px;
}

.education_sec .time_line .list:nth-child(even) .content::after{
	content: "";
	position: absolute;
	width: 80px;
	height: 2px;
	background-color: #c46f00;
	top: 30px;
	left: -45px;
}

.education_sec .time_line .list .content p{
	font-family: Roboto-Regular;
	color: #000;
	line-height: 1.5;
}

.education_sec .time_line .list .content div.date{
	background-color: #c46f00;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 20px;
	color: #fff;
	font-family: Roboto-Regular;
	font-size: 15px;
	border-radius: 10px 0 10px 0; 
}

.education_sec .time_line .list .content p:nth-child(2){
	font-size: 20px;
	font-weight: bold;
}

.education_sec .time_line .list .content p:nth-child(3){
	font-size: 17px;
	margin-bottom: 20px;
}

.education_sec .time_line .list .content p:nth-child(4){
	font-size: 15px;
	/* text-align: justify; */
	text-align: left;
	letter-spacing: 0.3px;
	word-break: break-all;
}


/*-------------------PROJECT SEC----------------------------*/
.project_header{
	padding: 80px 0;
	width: 100%;
}

.project_header p.title{
	color: #000;
	font-size: 30px;
	font-family: Roboto-Regular;
	font-weight: normal;
	text-align: center;
	position: relative;
	margin-bottom: 80px;
}

.project_header p.title::before{
	content: "";
	position: absolute;
	width: 50px;
	height: 2px;
	top: 0;
	left: 0;
	right: 0;
	bottom: -45px;
	margin: auto;
	background-color: #c46f00;
}

.project_header .project_item{
	display: flex;
	justify-content: space-between;
	height: 700px;
	margin-bottom: 40px;
}

.project_header .project_item .project_list{
	display: flex;
	height: 100%;
	width: 30%;
	background-color: #ffffff;
	box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.3);
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}

.project_header .project_item .project_list:hover > .pj_img{
	transform: scale(1.4);
	cursor: pointer;
}

.project_header .project_item .project_list .pj_img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: transform 400ms ease-out;
}

.project_header .project_item .project_list img{
	width: 0%;
	transform: scale(1);
}

.project_header .project_item .project_list .content{
	position: absolute;
	bottom: -110%;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	background-color: rgba(46, 43, 43, 0.8);
}

.project_header .project_item .project_list:hover > .content{
	bottom: -90%;
	transition: 1s ease-out;
}

.project_header .project_item .project_list .content p{
	color: #fff;
	font-family: Roboto-Regular;
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}

.project_header .project_item .project_list .content a{
	font-family: Roboto-Regular;
	font-size: 14px;
	text-decoration: none;
	display: block;
	text-align: center;
	color: #fff;
}

.project_header .project_item .project_list .content a:hover{
	opacity: 0.7;
	color: rgb(0, 0, 255);
}






.project_header .pj_btn{
	display: block;
	margin: auto;
	padding: 10px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.5);
}

.project_header .pj_btn:hover{
	opacity: 0.8;
	transition: .1s ease-in-out;
}

.project_header .pj_btn i.fa-angle-double-right{
	font-size: 16px;
	animation: textColor 2s ease-in-out infinite;
	transform-origin: 0 0;
}

@keyframes textColor{
	from{
		color: #c46f00;
	}
	to{
		color: transparent;
	}
}


/*-------------------CONTACT SEC----------------------------*/
.contact_sec{
	width: 100%;
	padding:80px 0;
	background-color: #fff;
}

.contact_sec p.title{
	color: #000;
	font-size: 30px;
	font-family: Roboto-Regular;
	font-weight: normal;
	text-align: center;
	position: relative;
	margin-bottom: 80px;
}

.contact_sec p.title::before{
	content: "";
	position: absolute;
	width: 80px;
	height: 2px;
	top: 0;
	left: 0;
	right: 0;
	bottom: -45px;
	margin: auto;
	background-color: #c46f00;
}

.contact_sec .cont_group{
	display: flex;
}

.contact_sec .cont_group .info{
	flex: 1;
	background-color: #fff;
	padding: 50px 30px;
	box-shadow: 3px 2px 10px -1px #595757;
}

.contact_sec .cont_group .info p{
	color: #000;
	font-family: Roboto-Regular;
	line-height: 1.5;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 20px;
}

.contact_sec .cont_group .info p:first-child{
	text-align: center;
	font-size: 25px;
	position: relative;
	margin-bottom: 40px;
}

.contact_sec .cont_group .info p:first-child::before{
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #c46f00;
	top: 0;
	left: 0;
	right: 0;
	bottom: -40px;
	margin: auto;
}

.contact_sec .cont_group .info .social_media{
	text-align: center;
}

.contact_sec .cont_group .info .social_media a{
	display: inline-block;
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transition: 0.4s linear;
	position: relative;
	color: #c46f00;
}

.contact_sec .cont_group .info .social_media a i{
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.contact_sec .cont_group .info .social_media a i.fa-facebook{color: #3b5998;}
.contact_sec .cont_group .info .social_media a i.fa-twitter{color: #00acee;}
.contact_sec .cont_group .info .social_media a i.fa-linkedin{color: #0e76a8;}

.contact_sec .cont_group .info .social_media a::before,
.contact_sec .cont_group .info .social_media a::after{
	content: "";
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.4s linear;
}

.contact_sec .cont_group .info .social_media a:hover{
	-webkit-transform: scale(.8);
	   -moz-transform: scale(.8);
	    -ms-transform: scale(.8);
	     -o-transform: scale(.8);
	        transform: scale(.8);
}

.contact_sec .cont_group .info .social_media a:hover::before{
	border-left: 2px solid;
	border-right: 2px solid;
	-webkit-transform: skewX(20deg);
	   -moz-transform: skewX(20deg);
	    -ms-transform: skewX(20deg);
	     -o-transform: skewX(20deg);
	        transform: skewX(20deg);
}

.contact_sec .cont_group .info .social_media a:hover::after{
	border-top: 2px solid;
	border-bottom: 2px solid;
	-webkit-transform: skewY(-20deg);
	   -moz-transform: skewY(-20deg);
	    -ms-transform: skewY(-20deg);
	     -o-transform: skewY(-20deg);
	        transform: skewY(-20deg);
}

.contact_sec .cont_group form{
	flex: 1;
	padding: 20px 50px;
}

.contact_sec .cont_group form input:not(:last-child),
.contact_sec .cont_group form textarea{
	font-family: Roboto-Regular;
	font-size: 15px;
	color: #000;
	display: block;
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 2px solid #c46f00;
	margin-bottom: 15px;
	background-color: transparent;
	resize: none;
}

.contact_sec .cont_group form input:focus,
.contact_sec .cont_group form textarea:focus{
	outline: none;
}

.contact_sec .cont_group form input::placeholder,
.contact_sec .cont_group form textarea::placeholder{
	color: #000;
	font-family: Roboto-Regular;
	font-size: 13px;
	opacity: 0.8;
}

.contact_sec .cont_group form textarea{
	overflow-y: auto;
	margin-bottom: 30px;
}

.contact_sec .cont_group form input:last-child{
	background-color: transparent;
	outline: none;
	padding: 12px 20px;
	border: 2px solid #c46f00;
	border-radius: 30px;
	cursor: pointer;
	float: right;
	margin-right: 0;
}

.contact_sec .cont_group form input:last-child.button{
	color: #c46f00;
	font-size: 15px;
	font-family: Roboto-Regular;
	margin-right: 10px;
	position: relative;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.contact_sec .cont_group form input:last-child:hover{
	background-color: #c46f00;
	transition: .1s ease-in-out;
	color: #fff;
}




/*-------------------FOOTER SEC----------------------------*/
.footer_sec{
	background-color: #333646;
	width: 100%;
	padding: 80px 0 20px;
}

.footer_sec .back_to_top{
	position: fixed;
	bottom: 15%;
	right: 1.5%;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid #c46f00;
	text-align: center;
	transition: .3s;
	display: none;
	z-index: 7777;
}

.footer_sec .back_to_top:hover{
	opacity: 0.8;
	cursor: pointer;
}

.footer_sec .back_to_top::after{
	content: '\f077';
	font-family: FontAwesome;
	color: #c46f00;
	font-size: 12px;
	font-weight: thin;
	line-height: 35px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.footer_sec .ft_group{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	width: 100%;
}

.footer_sec .ft_group .ft_list{
	flex: 1;
	padding: 0 15px;
}

.footer_sec .ft_group .ft_list p{
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	word-break: break-all;
	margin-bottom: 20px;
	line-height: 1.5;
}

.footer_sec .ft_group .ft_list p a{
	color: #fff;
}
.footer_sec .ft_group .ft_list p a:hover{
	color: rgb(33, 48, 175);

}

.footer_sec .ft_group .ft_list:first-child > img,
.footer_sec .ft_group .ft_list:nth-child(2) > img,
.footer_sec .ft_group .ft_list:nth-child(3) > img{
	width: 20px;
	height: 20px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}

.footer_sec .ft_group .ft_list:first-child > p.title,
.footer_sec .ft_group .ft_list:nth-child(2) > p.title,
.footer_sec .ft_group .ft_list:nth-child(3) > p.title{
	color: #c46f00;
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
}

 .footer_sec .ft_group .ft_list:last-child .social_media{
	position: relative;
	top: calc(50% - 10px);
	text-align: center;
	display: inline-flex;
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon{
	margin: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 2;
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon a{
	position: relative;
	height: 40px;
	width: 40px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	z-index: 2;
	color: #333646;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon a i{
	font-size: 20px;
	line-height: 40px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon:hover a{
	color: #fff;
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon .tooltip{
	position: absolute;
	top: 0;
	background-color: #fff;
	font-size: 13px;
	color: #fff;
	font-family: Roboto-Regular;
	border-radius: 25px;
	padding: 6px 15px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon:hover .tooltip{
	top: -40px;
	opacity: 1;
	pointer-events: auto;
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon .tooltip::before{
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	background-color: #fff;
	bottom: -8px;
	left: 50%;
	-webkit-transform: translateX(-50%) rotate(45deg);
	   -moz-transform: translateX(-50%) rotate(45deg);
	    -ms-transform: translateX(-50%) rotate(45deg);
	     -o-transform: translateX(-50%) rotate(45deg);
	        transform: translateX(-50%) rotate(45deg);
	transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.footer_sec .ft_group .ft_list:last-child .social_media .icon:hover a,
.footer_sec .ft_group .ft_list:last-child .social_media .icon:hover .tooltip{
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.footer_sec .ft_group .ft_list:last-child .social_media .facebook:hover a,
.footer_sec .ft_group .ft_list:last-child .social_media .facebook:hover .tooltip,
.footer_sec .ft_group .ft_list:last-child .social_media .facebook:hover .tooltip::before{
	background-color: #3b5998;
}

.footer_sec .ft_group .ft_list:last-child .social_media .twitter:hover a,
.footer_sec .ft_group .ft_list:last-child .social_media .twitter:hover .tooltip,
.footer_sec .ft_group .ft_list:last-child .social_media .twitter:hover .tooltip::before{
	background-color: #00acee;
}

.footer_sec .ft_group .ft_list:last-child .social_media .linkedin:hover a,
.footer_sec .ft_group .ft_list:last-child .social_media .linkedin:hover .tooltip,
.footer_sec .ft_group .ft_list:last-child .social_media .linkedin:hover .tooltip::before{
	background-color: #0e76a8;
}

.footer_sec .ft_group .ft_list:last-child .social_media .github:hover a,
.footer_sec .ft_group .ft_list:last-child .social_media .github:hover .tooltip,
.footer_sec .ft_group .ft_list:last-child .social_media .github:hover .tooltip::before{
	background-color: #24292e;
}

.footer_sec .copyright{
	text-align: center;
}

.footer_sec .copyright hr.line{
	border: 0;
	height: 1px;
	background-color: #c46f00;
	margin-bottom: 10px;
}

.footer_sec .copyright small{
	color: #fff;
	font-family: Roboto-Regular;
}



/*----------------------------PROJECTS PAGE---------------------------------*/
.header_sec{
	height: 330px;
	position: relative;
	width: 100%;
}

.header_sec::before{
	content: "";
	background-image: url(../img/project_bg.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	position: absolute;
	background-repeat: no-repeat;
	z-index: -2;
}

.header_sec .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.5));
	z-index: -1;
}

.header_sec .link{
	position: absolute;
	top: 75%;
	left: 10%;
	color: #fff;
	font-family: Roboto-Regular;
}

.header_sec .link a{
	text-decoration: none;
	color: #fff;
	font-family: Roboto-Regular;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 1px;
}

.header_sec .link a:nth-child(2){
	color: #bdb8b8;
}

.header_sec .link a:nth-child(1):hover{
	color: #c46f00;
	opacity: 0.9;
}

.projects_sec{
	padding: 50px 0;
}

.projects_sec p.title{
	font-family: Roboto-Regular;
	font-size: 30px;
	color: #000;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

.projects_sec .title::before{
	content: '';
	right: 0;
	left: 0;
	bottom: -6px;
	width: 80px;
	height: 2px;
	background-color: #c46f00;
	margin: auto;
	position: absolute;
}

.projects_sec .projects_gallery{
	display: flex;
	flex-wrap: wrap;
}

.projects_sec .projects_gallery .item{
	flex: 1 0 17rem;
	margin: 2rem 0.5rem;
	overflow: hidden;
	box-shadow: 20px 20px 7px -16px rgba(0, 0, 0, 0.3);
	border: 2px solid #c46f00;
}

.projects_sec .projects_gallery .item .project_image{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.projects_sec .projects_gallery .item img{
	width: 0%;
}

.projects_sec .projects_gallery .item .project_image:hover{
	transform: scale(1.15);
	cursor: pointer;
}


/*-------------------------------MEDIA QUERY SEC----------------------------------*/
@media screen and (min-width: 1280px){
	.inner{
		width: 90%;
		margin: 0 auto;
	}

	.about_sec,
	.skill_sec,
	.education_sec,
	.project_header,
	.contact_sec{
		width: 1280px;
		margin: 0 auto;
	}


	/*-------------MV SEC----------------*/
	.mv_sec .profile {
	    top: 30%;
	}



	/*-------------FOOTER SEC----------------*/
	.footer_sec .ft_group .ft_list{
		padding: 0 30px;
	}

	.footer_sec .ft_group .ft_list:last-child .social_media{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.footer_sec .ft_group .ft_list:last-child .social_media .icon{
		margin: 0 -10px;
	}



	/*--------------PROJECTS SEC-----------------*/
	.projects_sec .projects_gallery .item{
		flex: 1 0 20rem;
	}

}



@media screen and (max-width: 1280px){
	.mv_sec .nav{
		width: 100%;
	}

	.skill_sec .skill_slider .skill_group .skill_item{
		padding: 30px 15px;
		margin-right: 20px;
	}
}


@media only screen and (min-width: 980px) and (max-width: 1279px){
	.inner{
		width: 90%;
		margin: 0 auto;
	}


	/*-------------MV SEC----------------*/
	.mv_sec .my_name h1,
	.mv_sec .my_name h1 span{
		font-size: 50px;
	}

	.typing::after{
		top: 13px;
	}

	.mv_sec .my_name p{
	    max-width: 500px;
	}

	.mv_sec .profile{
	    top: 30%;
	    width: 350px;
	    height: 220px;
	}


	/*-------------ABOUT SEC----------------*/
	.about_sec .my_self .image{
		margin-right: 5%;
		height: 400px;
	}

	.about_sec .my_self .content p:nth-child(2){
		margin-bottom: 20px;
	}


	/*-------------SKILL SEC----------------*/
	.skill_sec .scroll_wrapper .skill_item{
		padding: 20px 15px;
	}

	/*----------PROJECT SEC------------------*/
	.project_header .project_item .project_list:hover > .content{
		bottom: -87%;
	}

	

	/*-----------CONTACT SEC------------*/
	.contact_sec p.title{
		margin-bottom: 60px;
	}

	.contact_sec .cont_group form {
	    padding: 20px 30px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 979px){
	.inner{
		width: 90%;
		margin: 0 auto;
	}



	/*---------------HEADERSEC---------------*/
	.header{
		height: 60px;
	}

	.header .nav .nav_content .nav_profile .nav_img{
		width: 50px;
		height: 50px;
	}
	.header .nav .nav_content .nav_profile .nav_img img{
		width: 60px;
	}

	.header .nav .nav_content .nav_profile .nav_name .name_list{
		font-size: 16px;
	}

	.header .nav .nav_content .nav_menu .nav_list .nav_item{
		margin: 0 10px;
	}

	.header .nav .nav_content .nav_menu .nav_list .nav_item a{
		font-size: 12px;
	}


	/*---------------MV SEC---------------*/
	.mv_sec .my_name h1,
	.mv_sec .my_name h1 span{
		font-size: 5vw;
		margin-bottom: 6vw;
	}

	.typing::after{
		top: 13px;
		height: 25px;
	}

	.mv_sec .my_name p{
		font-size: 2vw;
		max-width: 43vw;
		margin-bottom: 3vw;
	}

	.mv_sec .my_name .social{
		margin-bottom: 3vw;
	}

	.mv_sec .profile {
	    top: 35%;
	    left: 53%;
	    width: 40vw;
	    height: 22vw;
	}




	/*-------------ABOUT SEC----------------*/
	.about_sec{
		padding: 50px 0;
	}

	.about_sec .my_self .image{
		width: 40%;
		margin-right: 5%;
		height: 300px;
	}

	.about_sec .my_self .image img{
		transform: scale(1.5);
	}

	.about_sec .my_self .image .box::after{
		transform: scaleY(1);
	}

	.about_sec .my_self .content{
		padding: 30px 10px;
	}

	.about_sec .my_self .content > p.title{
		font-size: 22px;
		margin-bottom: 35px;
	}

	.about_sec .my_self .content p:nth-child(2){
		margin-bottom: 0;
		font-size: 14px;
	}

	.about_sec .my_self .content .progress_box{
		grid-template-rows: 40px 40px;
		grid-gap: 2px;
	}

	.about_sec .my_self .content .progress_box .pg_bar:nth-child(1), 
	.about_sec .my_self .content .progress_box .pg_bar:nth-child(3){
		margin-right: 25px;
	}


	
	/*-----------MY SKILLS SEC------------*/
	.skill_sec p.title{
		font-size: 25px;
	}

	.skill_sec p.title::before{
		width: 60px;
	}

	.skill_sec .scroll_wrapper{
		display: flex;
		overflow-y: hidden;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
	}

	.skill_sec .scroll_wrapper::-webkit-scrollbar{
		display: none;
	}

	.skill_sec .scroll_wrapper::-webkit-scrollbar-track {
		background: transparent;
	}

	.skill_sec .scroll_wrapper > .skill_item{
		scroll-snap-align: start;
		flex: auto;
		flex-shrink: 0;
		width: 250px;
		margin: 20px 14px;
		transform: scale(1);
		transition: transform 0.5s;
		z-index: 300;
		box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
	}

	.skill_sec .scroll_wrapper .skill_item > p:nth-child(2){
		font-size: 20px;
	}
	
	.skill_sec .scroll_wrapper .skill_item > p:nth-child(3){
		font-size: 13px;
	}

	.skill_sec .scroll_wrapper .skill_item ul li{
		font-size: 13px;
	}
	
	.skill_sec .scroll_wrapper .skill_item ul li:first-child{
		font-size: 15px;
	}



	/*-----------EDUCATION SEC------------*/
	.education_sec p.title{
		font-size: 25px;
	}

	.education_sec p.title::before{
		width: 80px;
		bottom: -40px;
	}

	.education_sec .time_line::before{
		margin-top: 10px;
		height: 93%;
		left: 0;
	}

	.education_sec .time_line .list{
		margin-bottom: 50px;
	}

	.education_sec .time_line .list .time_line_img{
		left: 0;
	}

	.education_sec .time_line .list .content{
		width: 80%;
		left: 50px;
	}

	.education_sec .time_line .list .content::after{
		left: -45px;
	}

	.education_sec .time_line .list:nth-child(even) .content{
		float: left;
	}

	.education_sec .time_line .list:nth-child(even) .content::after{
		left: -45px;
	}

	.education_sec .time_line .list .content p:nth-child(2){
		font-size: 19px;
		font-weight: bold;
	}

	.education_sec .time_line .list .content p:nth-child(3){
		font-size: 16px;
		margin-bottom: 20px;
	}

	.education_sec .time_line .list .content p:nth-child(4){
		font-size: 14px;
	}

	/*----------------PROJECT SEC----------------*/
	.project_header .project_item{
		height: 465px;
	}

	.project_header .project_item .project_list:hover > .content{
		bottom: -85%;
	}
	
	.project_header .project_item .project_list .content p{
		font-size: 14px;
		margin-bottom: 10px;
	}
	
	.project_header .project_item .project_list .content a{
		font-size: 12px;
		color: #fff;
	}


	/*----------------PROJECT SEC----------------*/
	.project_header{
		padding: 30px 0 80px;
	}

	.project_header p.title{
		font-size: 25px;
	}

	.project_header p.title::before{
		width: 40px;
	}


	/*----------------CONTACT SEC----------------*/
	.contact_sec{
		padding: 0 0 70px;
	}

	.contact_sec p.title{
		margin-bottom: 50px;
		font-size: 25px;
	}

	.contact_sec .cont_group .info {
	    padding: 30px 15px;
	    height: 100%;
	}

	.contact_sec .cont_group .info p {
	    word-break: break-all;
	}

	.contact_sec .cont_group form {
	    padding: 10px 0 10px 20px;
	}

	.contact_sec .cont_group form input:not(:last-child), 
	.contact_sec .cont_group form textarea {
	    padding: 10px 0;
	}


	/*----------------FOOTER SEC----------------*/
	.footer_sec .back_to_top{
		width: 25px;
		height: 25px;
	}

	.footer_sec .back_to_top::after{
		line-height: 25px;
	}

	.footer_sec .ft_group .ft_list{
		padding: 0 10px;
	}

	.footer_sec .ft_group .ft_list:first-child > p.title,
	.footer_sec .ft_group .ft_list:nth-child(2) > p.title,
	.footer_sec .ft_group .ft_list:nth-child(3) > p.title{
		font-size: 20px;
		margin-bottom: 20px;
	}
	
	.footer_sec .ft_group .ft_list p{
		font-size: 13px;
	}

	.footer_sec .ft_group .ft_list:last-child .social_media .icon{
		margin: 0 3px;
	}

	.footer_sec .ft_group .ft_list:last-child .social_media .icon a{
		height: 30px;
		width: 30px;
	}

	.footer_sec .ft_group .ft_list:last-child .social_media .icon a i{
		font-size: 14px;
		line-height: 30px;
	}

	.footer_sec .ft_group .ft_list:last-child .social_media{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 0 auto 0 auto;
	}


	/*--------------PROJECTS SEC-----------------*/
	.projects_sec .projects_gallery .item{
		flex: 1 0 11rem;
	}

}



@media only screen and (min-width: 300px) and (max-width: 767px){
	.inner{
		width: 90%;
		margin: 0 auto;
	}

	/*-------------HEADER SEC----------------*/
	.header{
		position: fixed;
		width: 100%;
		padding: 0 7%;
		display: flex;
		align-items: center;
		height: 60px;
		background-color: #2e2e2d;
		box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.6);
	}

	.header > a{
		overflow: visible;
		font-size: 15px;
		height: 60px;
		display: block;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	}

	.nav{
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #333646;
		width: 80%;
		height: 100vh;
		padding: 2rem 0;
		z-index: 999999;
		transition: .5s;
		box-shadow: 4px 0px 7px -1px rgba(0, 0, 0, 0.5);
	}

	.header .nav .nav_content{
		flex-direction: column;
		padding: 0 20px;
	}

	.header .nav .nav_content .nav_profile{
		display: block;
		flex-direction: column;
		width: 100%;
		top: 63px;
		margin-bottom: 30px;
	}

	.header .nav .nav_content .nav_profile .nav_img{
		display: block;
		margin: 0 auto 25px;
	}

	.header .nav .nav_content .nav_profile .nav_name{
		display: flex;
		height: 100%;
		align-items: center;
	}

	.header .nav .nav_content .nav_profile .nav_name .name_list{
		font-size: 23px;
	}

	.header .nav .nav_content .nav_profile .nav_name .name_list:last-child{
		font-size: 25px;
	}

	.header .nav .nav_content .nav_menu{
		margin: 0;
		width: 100%;
	}

	.header .nav .nav_content .nav_menu .nav_list{
		display: flex;
		flex-direction: column;
		height: 100%;
		align-items: center;
		font-size: 22px;
		line-height: 1;
	}

	.header .nav .nav_content .nav_menu .nav_list .nav_item{
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}

	.show{
		left: 0;
	}

	.header i.header_toggle{
		display: block;
		cursor: pointer;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	}



	/*-------------MV SEC----------------*/
	.mv_sec{
		width: 100%;
		height: 850px;
	}

	.mv_sec .my_name{
		top: 15%;
		margin: 0 4%;
		z-index: 8888;
	}

	.mv_sec .my_name h1,
	.mv_sec .my_name h1 span{
		font-size: 9vw;
		margin-bottom: 10vw;
	}

	.typing::after{
		top: 3vw;
		height: 6vw;
	}

	.mv_sec .my_name p{
		font-size: 3.5vw;
		width: 100%;
		margin-bottom: 8vw;
		word-break: break-word;
	}

	.mv_sec .my_name .social{
		margin-bottom: 10vw;
	}

	.mv_sec .my_name .social a i{
		font-size: 5vw;
		margin-right: 4vw;
	}

	.mv_sec .my_name .btn{
		font-size: 3vw;
		padding: 2vw 4vw;
		min-width: 25vw;
	}

	.mv_sec .profile{
		border: 0.1vw solid #fff;
		top: 60%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 90%;
	}

	.mv_sec .profile .image{
		filter: drop-shadow(0 0 0.5rem #111);
		bottom: 0;
		left: 0.1vw;
		margin: auto;
		width: 100%;
		z-index: 400;
	}


	/*-------------ABOUT SEC----------------*/
	.about_sec{
		padding: 60px 0 0;
	}

	.about_sec p.title{
		font-size: 20px;
		margin-bottom: 20px;
	}

	.about_sec p.title::before{
		bottom: -25px;
	}

	.about_sec .my_self{
		flex-direction: column;
	}

	.about_sec .my_self .image{
		width: 95%;
		height: 400px;
		margin: 0 auto 40px;
	}

	.about_sec .my_self .content{
		width: 100%;
		padding: 30px 0px;
	}

	.about_sec .my_self .content > p.title{
		font-size: 19px;
		margin-bottom: 35px;
	}

	.about_sec .my_self .content p:nth-child(2){
		margin-bottom: 0;
		font-size: 14px;
		text-align: left;
		word-break: break-word;
	}

	.about_sec .my_self .content .progress_box{
		grid-template-columns: 100%;
		grid-template-rows: 50px 50px 50px 50px;
		grid-gap: 2px;
	}

	.about_sec .my_self .content .progress_box .pg_bar:nth-child(1), 
	.about_sec .my_self .content .progress_box .pg_bar:nth-child(3){
		margin-right: 0;
	}


	/*-----------MY SKILLS SEC------------*/
	.skill_sec p.title{
		font-size: 20px;
	}

	.skill_sec p.title::before{
		width: 40px;
	}

	.skill_sec .scroll_wrapper{
		display: flex;
		overflow-y: hidden;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
	}

	.skill_sec .scroll_wrapper::-webkit-scrollbar-track {
		background: transparent;
	}

	.skill_sec .scroll_wrapper > .skill_item{
		scroll-snap-align: start;
		flex: auto;
		flex-shrink: 0;
		width: 220px;
		margin: 20px 14px;
		transform: scale(1);
		transition: transform 0.5s;
		z-index: 300;
		box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
	}

	.skill_sec .scroll_wrapper .skill_item > p:nth-child(2){
		font-size: 20px;
	}

	.skill_sec .scroll_wrapper .skill_item > p:nth-child(3){
		font-size: 13px;
	}

	.skill_sec .scroll_wrapper .skill_item ul li{
		font-size: 13px;
	}

	.skill_sec .scroll_wrapper .skill_item ul li:first-child{
		font-size: 15px;
	}


	/*-----------EDUCATION SEC------------*/
	.education_sec p.title{
		font-size: 20px;
		margin-bottom: 50px;
	}

	.education_sec p.title::before{
		width: 80px;
		bottom: -38px;
	}

	.education_sec .time_line::before{
		margin-top: 10px;
		height: 90%;
		left: 0;
	}

	.education_sec .time_line .list{
		margin-bottom: 50px;
	}

	.education_sec .time_line .list .time_line_img{
		left: 0;
		width: 25px;
		height: 25px;
		margin-left: -12px;
		margin-top: 20px;
	}

	.education_sec .time_line .list .time_line_img i{
		font-size: 12px;
		padding: 7px 0;
	}

	.education_sec .time_line .list .content{
		width: 80%;
		left: 25px;
		padding: 30px 10px;
	}

	.education_sec .time_line .list .content::after{
		left: -35px;
	}


	.education_sec .time_line .list:nth-child(even) .content{
		float: left;
		padding: 30px 10px;
	}

	.education_sec .time_line .list:nth-child(even) .content::after{
		left: -35px;
	}

	.education_sec .time_line .list .content p:nth-child(2){
		font-size: 17px;
		font-weight: normal;
	}

	.education_sec .time_line .list .content p:nth-child(3){
		font-size: 15px;
		margin-bottom: 20px;
	}

	.education_sec .time_line .list .content p:nth-child(4){
		font-size: 13px;
	}

	/*----------------PROJECT SEC----------------*/
	.project_header{
		padding: 30px 0 80px;
	}

	.project_header p.title{
		font-size: 20px;
		margin-bottom: 40px;
	}

	.project_header p.title::before{
		width: 35px;
		bottom: -38px;
	}

	.project_header .project_item{
		display: flex;
		height: 400px;
		overflow-y: hidden;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		padding: 10px 0;
	}

	.project_header .project_item::-webkit-scrollbar-track {
		background: transparent;
	}

	.project_header .project_item .project_list{
		scroll-snap-align: start;
		flex: auto;
		flex-shrink: 0;
		width: 220px;
		margin-right: 50px;
	}

	.project_header .project_item .project_list:hover > .content{
		bottom: -83%;
	}

	.project_header .project_item .project_list .content p{
		font-size: 14px;
		margin-bottom: 10px;
	}
	
	.project_header .project_item .project_list .content a{
		font-size: 12px;
		color: #fff;
	}

	/*----------------CONTACT SEC----------------*/
	.contact_sec{
		padding: 0;
	}

	.contact_sec p.title{
		margin-bottom: 40px;
		font-size: 20px;
	}

	.contact_sec p.title::before{
		bottom: -30px;
		width: 50px;
	}

	.contact_sec .cont_group {
	    display: flex;
	    flex-direction: column;
	}

	.contact_sec .cont_group .info {
	    padding: 50px 25px;
	}

	.contact_sec .cont_group .info p{
	    word-break: break-all;
	    font-size: 14px;
	}

	.contact_sec .cont_group .info p:first-child{
		font-size: 18px;
	}

	.contact_sec .cont_group .info p:first-child::before{
		width: 70px;
	}

	.contact_sec .cont_group form{
	    padding: 40px 10px;
	}

	.contact_sec .cont_group form input:not(:last-child), 
	.contact_sec .cont_group form textarea {
	    padding: 10px 0;
	}


	/*-------------FOOTER SEC----------------*/
	.footer_sec .back_to_top{
		width: 25px;
		height: 25px;
	}

	.footer_sec .back_to_top::after{
		line-height: 25px;
	}
	
	.footer_sec .ft_group{
		display: flex;
		flex-direction: column;
		justify-content: none;
	}
	
	.footer_sec .ft_group .ft_list{
		flex: 1;
		padding: 0 10px;
		margin-bottom: 50px;
	}

	.footer_sec .ft_group .ft_list:first-child > img,
	.footer_sec .ft_group .ft_list:nth-child(2) > img,
	.footer_sec .ft_group .ft_list:nth-child(3) > img{
		margin-bottom: 5px;
	}
	
	.footer_sec .ft_group .ft_list:first-child > p.title,
	.footer_sec .ft_group .ft_list:nth-child(2) > p.title,
	.footer_sec .ft_group .ft_list:nth-child(3) > p.title{
		font-size: 20px;
		margin-bottom: 15px;
	}

	.footer_sec .ft_group .ft_list p{
		font-size: 14px;
		width: 80%;
		margin: 0 auto 15px auto;
	}

	.footer_sec .ft_group .ft_list:last-child .social_media{
		display: flex;
		justify-content: space-evenly;
		margin: 0 50px 0 50px;
	}

	.footer_sec .copyright small{
		font-size: 11px;
	}


	/*-------------PROJECTS SEC----------------*/
	.header_sec .link a{
		font-size: 12px;
	}

	.projects_sec p.title{
		font-size: 25px;
		margin-bottom: 20px;
	}

	.projects_sec .projects_gallery .item{
		flex: 1 0 10rem;
		margin: 2rem 2.5rem;
	}



}
